<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header pull-left" >
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <img src="Images/WorldAwareLogoRedTransparent.png" height="35%" width="35%" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Report", "Report", "Home")</li>
                    <li>@Html.ActionLink("Shelter", "Shelter", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="navbar navbar-left" >
        <br />
        <a class="twitter-timeline" href="https://twitter.com/worldawaretwit" data-widget-id="665610474638176257">Tweets by @@worldawaretwit</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="container body-content">
    
        
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - World Aware</p>
            <p>Okel, Wright, Doll, Pavlica</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
